@define-color base00 #272822;
@define-color base01 #f92672;
@define-color base02 #a6e22e;
@define-color base03 #f4bf75;
@define-color base04 #66d9ef;
@define-color base05 #ae81ff;
@define-color base06 #a1efe4;
@define-color base07 #f8f8f2;
@define-color base08 #75715e;
@define-color base09 #f92672;
@define-color base0A #a6e22e;
@define-color base0B #f4bf75;
@define-color base0C #66d9ef;
@define-color base0D #ae81ff;
@define-color base0E #a1efe4;
@define-color base0F #f9f8f5;



    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   


