window {
	margin: 15px;
	background-color: #151515;
	color: #fff; 
	border-radius: 10px;
	font-family: "icomoon-feather"
}

#entry {
	text-align: center;
}

#entry:selected {
	border-radius: 5px;
	border: none;
	background-color: #5BB462;
}

#text:selected {
	color: #fff;
}

#inner-box {
	margin-left: 30px;
	margin-right: 30px; 
}

#outer-box {
	margin-bottom: 25px; 
}

#text {
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 30px; 
	font-size: 30px;
}

#text:selected {
	color: #212121;
}
