@import "colorschemes/nord.css"; 

@keyframes blink-warning {
    70% {
        color: @base08;
    }

    to {
        color: @base08;
    }
}

@keyframes blink-critical {
    70% {
      color: @base07;
    }

    to {
        color: @base07;
    }
}

* {
    border: none;
    min-height: 0;
    font-weight: bold;
    padding: 1px 2px 2px 2px; 
    font-family: "JetbrainsMono Nerd Font";
    font-size: 13px; 
}

/* The whole bar */
window#waybar {
	background-color: transparent;
	color: @base07;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* Each module */

#battery,
#clock,
#custom-media,
#custom-spotify,
#memory,
#network,
#pulseaudio,
#window,
#tray {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#memory{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery{
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/* Each critical module */
#memory.critical{
    color: @base01;
}

#battery.critical{
    color: @base01;
}

#battery.warning{
    color: @base0B;
}

/* Each critical that should blink */
#memory.critical{
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery.critical{
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning{
    color: @base03;
}

tooltip { 
	border-radius: 5px;
	background-color: #262626; 
}
 
tooltip label {
	padding: 5px;
}

/* Workspaces stuff */

#workspaces button {
    color: @base0B;
    min-width: 25px;
}

#workspaces button.focused {
    color: @base02;
}

#workspaces button.urgent {
    border-color: @base05;
    color: @base09;
}

#network {
    color:@base02;
    font-size: 14px;
}

#battery {
    color:@base04;
}

#network.format-disconnected{
    color: @base02;
    font-size: 14px;
}

#memory {
    color: @base03;
}

#custom-spotify {
    color: @base0A;
}

#custom-media{
    color: @base0E;
}

#clock{
    color: @base0C;
}

#pulseaudio {
    color: @base09;
}

#pulseaudio.muted {
    color: @base09;
    font-size: 14px;
    margin-right: 0.4em;
}

#pulseaudio.source-muted {
    color: @base09;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


