
@keyframes blink-warning {
    70% {
        color: #ffffff;
    }

    to {
        color: #ffffff;
        background-color: #ebcb8b;
    }
}

@keyframes blink-critical {
    70% {
      color: #ffffff;
    }

    to {
        color: #ffffff;
        background-color: #BF616A;
    }
}

* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
    border-radius:8px;
}

/* The whole bar */
#waybar {
    background-color:transparent;
    color: #ffffff;
    font-family:  "Ubuntu Mono","Cantarell";
    font-size: 14px;
    font-weight: bold;
}

/* Each module */

#clock,
#custom-layout,
#memory,
#network,
#pulseaudio,
#tray,
#backlight{
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#memory{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical{
    color: #BF616A;
}

/* Each critical that should blink */
#memory.critical{
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning{
    background: #171717;
    color: #ebcb8b;
}


/* Workspaces stuff */

#workspaces {
 /* color: #D8DEE9;
    margin-right: 10px;*/
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    color: #FFD700;
    font-size: 1.1em;
}

#workspaces button.focused {
    color:#33ff33;
    font-size: 1.1em;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    font-size: 1.1em;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}
#bluetooth {
    background: rgba(255,255,255,0.2);
    color: #3399ff;
    font-size: 1.1em;
    padding: 0 0.6em;
}

#custom-alsa {
    background: rgba(255,255,255,0.2);
}

#network {
    background: rgba(255,255,255,0.2);
    color:#42e66c;
    font-size:1.3em;
}

#network.format-disconnected{
    background: rgba(255,255,255,0.2);
    color:#42e66c;
    font-size:1.3em;
}

#memory {
    background: rgba(255,255,255,0.2);
    color:#FFD700;
}

#custom-layout {
    background: rgba(255,255,255,0.2);
}

#clock {
    background: rgba(255,255,255,0.2);
    padding:0.2em 0.6em 0.2em 0.6em;
    color: #00ffff;
}

#pulseaudio {
    background: rgba(255,255,255,0.2);
    color: #ff80d5;
}

#pulseaudio.muted {
    background: rgba(255,255,255,0.2);
    color: #FFFFFF
}

#pulseaudio.source-muted {
    background: rgba(255,255,255,0.2);
    color: #ff80d5;
}
#tray {
    background: rgba(255,255,255,0.2);
}
