window {
	background-color: #2E3440;
	color: #E5E9F0;
	border-radius: 10px;
	border: 2px solid #81a1c1;
}

#input {
	margin: 5px;
	background: none;
	font-size: 16px;
	color: #D8DEE9;
}

#input image{
	color: #ffffff;
}

#entry:selected {
	border-radius: 5px;
	border: none;
	background-color: #434C5E;
}

#inner-box {
	margin: 10px;
}

#outer-box {
	margin: 20px;
}

#text {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 16px;
}

#text:selected {
	color: #81a1c1;
}

#img {
	margin-left: 20px;
}
