window {
	background-color: #151515;
	color: #fff;
	border-radius: 10px;
	font-family: "Inter Medium";
}

#input {
	margin: 5px;
	border: none; 
	background: none;
	font-size: 16px;
}

#entry:selected {
	border-radius: 5px;
	border: none;
	background-color: #81a1c1;
}

#inner-box {
	margin: 10px;
}

#outer-box {
	margin: 20px;
}

#text {
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 16px;
}

#text:selected {
	color: #212121;
}

#img {
	margin-left: 20px;
}
