window {
	margin: 15px;
	background-color: #151515;
	color: #fff; 
	border-radius: 10px;
	font-family: "Inter"
}

#entry {
	text-align: center;
}

#entry:selected {
	border-radius: 5px;
	border: none;
	background-color: #5BB462;
}

#inner-box {
	margin-left: 15px;
	margin-right: 15px; 
}

#outer-box {
	margin-bottom: 15px; 
}

#text {
	margin-top: 5px;
	margin-bottom: 5px; 
	font-size: 15px;
}

#text:selected {
	color: #212121;
}
