@define-color base00 #6E6C7E;
@define-color base01 #F28FAD;
@define-color base02 #ABE9B3;
@define-color base03 #FAE3B0;
@define-color base04 #96CDFB;
@define-color base05 #F5C2E7;
@define-color base06 #89DCEB;
@define-color base07 #D9E0EE;
@define-color base08 #988BA2;
@define-color base09 #F28FAD;
@define-color base0A #ABE9B3;
@define-color base0B #FAE3B0;
@define-color base0C #96CDFB;
@define-color base0D #F5C2E7;
@define-color base0E #89DCEB;
@define-color base0F #D9E0EE;

							






























