@define-color base00 #4b565c; 
@define-color base01 #e67e80; 
@define-color base02 #a7c080; 
@define-color base03 #dbbc7f; 
@define-color base04 #7fbbb3; 
@define-color base05 #d699b6; 
@define-color base06 #83c092; 
@define-color base07 #d3c6aa; 
@define-color base08 #4b565c; 
@define-color base09 #e67e80; 
@define-color base0A #a7c080; 
@define-color base0B #dbbc7f; 
@define-color base0C #7fbbb3; 
@define-color base0D #d699b6; 
@define-color base0E #83c092; 
@define-color base0F #d3c6aa; 


   

