@define-color base00 #3b4252;
@define-color base01 #bf616a;
@define-color base02 #a3be8c;
@define-color base03 #ebcb8b; 
@define-color base04 #81a1c1; 
@define-color base05 #b48ead;
@define-color base06 #88c0d0; 
@define-color base07 #e5e9f0; 
@define-color base08 #4c566a; 
@define-color base09 #bf616a;
@define-color base0A #a3be8c; 
@define-color base0B #ebcb8b;
@define-color base0C #81a1c1; 
@define-color base0D #b48ead; 
@define-color base0E #8fbcbb; 
@define-color base0F #eceff4;
