set $base00 #201c1c
set $base01 #ff0883
set $base02 #83ff08
set $base03 #ffdf00
set $base04 #08ff83
set $base05 #A782EC
set $base06 #00b7eb
set $base07 #bebebe
set $base08 #474747
set $base09 #ff1e8e
set $base0A #8eff1e
set $base0B #f1fa8c
set $base0C #00ffff
set $base0D #adc1ff
set $base0E #1eff8e
set $base0F #c4c4c4
