set $base00 #3f3f3f
set $base01 #EF5350
set $base02 #00E676
set $base03 #ffdf00
set $base04 #00B0FF
set $base05 #ff0883
set $base06 #00E5FF
set $base07 #eaeaea
set $base08 #474747
set $base09 #EF5350
set $base0A #00E676
set $base0B #ffdf00
set $base0C #00B0FF
set $base0D #ff0883
set $base0E #00E5FF
set $base0F #eaeaea
