set $base00 #6E6C7E
set $base01 #F28FAD
set $base02 #ABE9B3
set $base03 #FAE3B0
set $base04 #96CDFB
set $base05 #F5C2E7
set $base06 #89DCEB
set $base07 #D9E0EE
set $base08 #988BA2
set $base09 #F28FAD
set $base0A #ABE9B3
set $base0B #FAE3B0
set $base0C #96CDFB
set $base0D #F5C2E7
set $base0E #89DCEB
set $base0F #D9E0EE
