set $base00 #4b565c 
set $base01 #e67e80 
set $base02 #a7c080 
set $base03 #dbbc7f 
set $base04 #7fbbb3 
set $base05 #d699b6 
set $base06 #83c092 
set $base07 #d3c6aa 
set $base08 #4b565c 
set $base09 #e67e80 
set $base0A #a7c080 
set $base0B #dbbc7f 
set $base0C #7fbbb3 
set $base0D #d699b6 
set $base0E #83c092 
set $base0F #d3c6aa
