set $base00 #292d3e
set $base01 #f07178
set $base02 #c3e88d
set $base03 #ffcb6b
set $base04 #82aaff
set $base05 #c792ea
set $base06 #89ddff
set $base07 #959dcb
set $base08 #676e95
set $base09 #f07178
set $base0A #c3e88d
set $base0B #ffcb6b
set $base0C #82aaff
set $base0D #c792ea
set $base0E #89ddff
set $base0F #ffffff
